@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@700&family=Roboto+Mono:wght@500&display=swap');
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
}

header{
  background-color: #FFA661;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  h1{
    margin:10px;
    font-size: 70px;
  }
}

main{
  background-color: #FFFFEA;
  height: 100%;
  display: flex;
  justify-content: center;
  .base{
    background-color: #FFED66 ;
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 400px 150px;
    justify-content: center;
    align-content: center;
    .gameboard{
      background-color: #FFFFEA;
      height: 400px;
      width: 400px;
      grid-column: 2 /3;
      grid-row: 2 /3;
      align-self: center;
      justify-self: center;
      display:  grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(3, 1fr);

      .cell{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 70px;
        border: 1px solid #000;
        font-family: 'Lato', sans-serif;
      }
    }
    .buttons{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      align-self: center;
      justify-self: center;
      .button{
        height: 50px;
        width: 150px;
        border-radius: 50px;
        font-size: 30px;
      }
      #startBtn{
        background-color: #80DE99;
        &:disabled{
          background-color: #D8D8D8;
        }
      }
      #restartBtn{
        background-color: #EC9B9A;
        &:disabled{
          background-color: #D8D8D8;
        }
      }
    }
    .player1{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .player2{
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    .player{
      align-self: center;
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        font-size: 50px;
        margin: 0;
      }
      p{
        font-size: 70px;
        margin: 0;
        font-family: 'Lato', sans-serif;
      }
    }
    .announce{
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      align-self: center;
      justify-self: center;
      .winner{
        font-size: 50px;
        margin: 0;
        text-align: center;
      }
    }
  }
}

footer{
  background-color: #FFA661;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    a{
      text-decoration: none;
      font-size: 20px;
      &:visited{
        color: #000;
      }
    }
  }
}